body {
    font-family: 'Rokkitt', serif;
}

#conceptsCovered {
    font-family: 'Rokkitt', serif;
    font-size: 16pt;
    width: 40em;
}

#conceptsHeader {
    font-size: 20pt;
    margin-top: .75em;
}

#dateHeader {
    color: black;
    font-size: 20pt;
}

.deleteEntry {
    background-color: #faad96;
    color: black;
    font-size: 16pt;
    height: 1.5em;
    width: 8em;
    margin-top: 1em;
}

.editEntry {
    background-color: #a9ccff;
    color: black;
    font-size: 16pt;
    height: 1.5em;
    width: 8em;
}

#entryHeader {
    font-size: 20pt;
    margin-left: .1em;
    margin-top: .75em;
}

#header {
    display: flex;
    flex-flow: row;
}

#headerFont {
    border: 4px;
    border-color: #328885;
    border-style: solid;
    color: black;
    font-size: 25pt;
    margin-left: -.0em;
    margin-top: -.0em;
    padding-bottom: .25em;
    padding-left: .45em;
    padding-right: .45em;
    padding-top: .25em;
}

#hr {
    width: 60%;margin-left: auto;margin-right: auto;
}

#journalDate {
    height: 2em;
    width: 12em;
}

#journalEntry {
    font-family: 'Rokkitt', serif;
    font-size: 16pt;
    overflow: auto;
    width: 40em;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: lightgray;
}

.journalEntry {
    font-family: 'Rokkitt', serif;
    font-size: 16pt;
    overflow: auto;
    width: 43em;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: lightgray;
    margin-left: -.5em;
    padding-bottom: .75em;
    padding-left: .75em;
}

#journalForm {
    display: flex;
    flex-flow: column;
    margin-left: .1em;
}

#journalPageBody {
    display: flex;
    flex-flow: row;
}

#mood {
    font-size: 16pt;
    width: 40em;
}

#moodHeader {
    font-size: 20pt;
    margin-left: .1em;
    margin-top: .75em;
}

#newDate {
    font-size: 18pt;
    margin-bottom: -.25em;
}

#newEntry {
    margin-top: -.5em;
}

#newMood {
    margin-top: -.5em;
    margin-bottom: -.5em;
}

#priorEntriesContainer {
    font-family: 'Rokkitt', serif;
    font-size: 16pt;
    margin-left: 2em;
}

#priorEntriesForm {
    border: .5em;
    border-style: solid;
    border-color: #328885;
    margin-left: 1em;
    width: 60%;
    height: 50em;
    overflow: auto;
}

#priorEntriesHeader {
    font-size: 22pt;
    font-family: 'Rokkitt', serif;
    margin-bottom: .5em;
}

#priorEntriesHeaderContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#record {
    background-color: #328885;
    color: white;
    font-size: 16pt;
    height: 2em;
    margin-top: 1em;
    width: 13em;
}